* { margin: 0; }

body {
    display: flex;
    min-height: 100vh;
}


footer {    
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    background: burlywood;
    font-family: Arial, Helvetica, sans-serif;
    height: 8rem;
    flex: 1;
}