@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #252525;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    padding: 2rem 4rem;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#logo {
    flex-direction: column;
    line-height: 25px;
}

h1 {
    font-weight: 300;
}

li {
    display: inline-block;
    margin: 20px;

}

a {
    color: #FFFFFF;
}

a:hover {
    color: rgb(132, 14, 201);
    transition: 0.3s all;
}

#sign-up-button {
    border: 2px solid rgb(132, 14, 201);
    padding: 10px;
    border-radius: 15px;
}

#sign-up-button:hover {
    background-color: rgb(132, 14, 201);
    color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5rem;
}

aside {
    display: flex;
    flex-direction: column;
    min-width: 50vw;
}

h2 {
    display: flex;
    font-size: 56px;
    line-height: 50px;
    width: 50vw;
}

span {
    font-size: 65px;
    color: rgb(132, 14, 201);
}

p {
    margin-top: 3rem;
    width: 30vw;
    font-weight: 400;
    
}

form {
    display: flex;
    flex-direction: column;
    width: 70%;
    margin-top: 2rem;
}

input {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-bottom: 1rem;
    padding: 1rem;
    border-radius: 20px;
    border: navajowhite;
    font-size: 15px;
    outline: none;
}

form [type="submit"] {
    width: 50%;
    height: 50px;
    background: rgb(132, 14, 201);
    color: #FFFFFF;
    font-weight: 400;
    display: flex;
    align-items: center;
    flex-direction: column;
}

form [type="submit"]:hover {
    cursor: pointer;
}

img {
    width: 43vw;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
}

footer p {
    font-weight: 100;
}